extends layout.pug

block content

  nav.nav
    a(href='/')
      span &larr;
      |  Back

  article.portfolio-about
    .inner-wrapper.flex-row-wrap.two-col
      .about-intro-box.box

        h1 Diego Alvarez

        p doctor | software developer | lifelongLearner  


        .about-bio

          p Coding AND learning is a way to live & love <b>your life</b>, <br>not a day job or a semi-ordered list of instructions found in a thick book. <br> Find your path in life, <br> go deep into your <b>emotions</b>, <br>and stop thinking about how to make more money, find <b>value</b> for your society.<br><br><b>@doctorDAlvarez</b>

      .skills-contact-box.box
        h6 Skills

        ul
          li Softskills / team work
          li HTML5 / CSS
          li JavaScript - ES6
          li python (data analysis)
          li npm / Git / GitHub
          li VS Code
          li Responsive design
          li Accessibility
          li OOP / Async programming
          li Fetch and Public APIs (Promises)
          li Node.js / Express
          li Pug
          li Linux / macOS / CLI

        h6 Contact Info

        ul
          li 54-9113-113-0503
          li doctorDAlvarez@protonmail.com

        a.btn-link(href='https://www.linkedin.com/in/diego-alvarez-a817551ab/') LinkedIn
        a.btn-link(href='https://github.com/doctorDAlvarez') GitHub
        a.btn-link(href='https://twitter.com/doctorDAlvarez') Twitter

    nav.nav
      a(href='/')
        span &larr;
        |  Back