extends layout.pug 

block content 

    img(src='/static/images/mike.jpg', alt='mike', style= "width: 100%;height: 60%")
    h1(style="text-align: center; padding-top: 100px;margin: auto; color: black") #{err.status} - ServerSide Error! (see console for stack details.).<br> #{err.message}!
    


    a(href="/") <button type="button" style="display: block;margin: auto; margin-top: 40px; padding: 10px;"> Go Home