extends layout.pug

block content

  article.portfolio-intro

    h1 doc => dev

    p Work || projects || skills.


  article.portfolio-project-thumbs
    .projects-box.box.grid

      each project in projects
        .cell
          a(href=`/project/${project.id}`)
            img.thumbnail(src=`${project.image_urls[0]}`, alt='project preview')
            h5= project.project_name

