extends layout.pug 

block content 

    img(src='/static/images/mike.jpg', alt='mike', style= "width: 100%;height: 60%")
    h1(style="text-align: center; padding-top: 100px;margin: auto; color: black") #{err.status} - Page not Found.<br>#{err.message}! 